body {
  margin: 0;
}
.container {
  position: relative;
  height: 770px;
}

.heading-over-image,
.information-block {
  background-color: #000010;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: 10px solid #7fefbd;
}

.heading-over-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 5px solid #7fefbd;
}

/* Centered text */
.information-block {
  margin: 30px 10%;
  padding: 20px 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000010;
  border-top: 5px solid #7fefbd;
  border-bottom: 5px solid #7fefbd;
}

li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover,
nav li a:focus {
  background-color: white;
  color: #000010;
}

.heading-block {
  background-color: #000010;
  color: white;
  border: 5px solid #7fefbd;
  margin: 30px 42%;
  padding: 20px 30px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

p.a {
  font-family: "Times New Roman", Times, serif;
}

.big-black-line {
  height: 50px;
  background-color: #000010;
  border-top: 5px solid #7fefbd;
  margin-top: 5px;
  border-bottom: 5px solid #7fefbd;
}
.treaty-timeline {
  margin-left: 15%;
  border: 10px solid #000010;
}
.big-black-line {
  height: 50px;
  background-color: #000010;
  border-top: 5px solid #7fefbd;
  margin-top: 5px;
  border-bottom: 5px solid #7fefbd;
}
